body{
    margin: 0px;
    padding: 0px;

}

#logo{
    margin: 1%;
    position: absolute;
    margin-top: -6%;
    width: 6vw;
    margin-left: 0%;

}

#title{
    position: absolute;
    width: 10vw;
    margin-top: -4%;
    margin-left: 5%;
    margin-right: auto;
    height: 5%;

}

a{
    margin-right: 1.5%;
    
 }

  /* navigation bar */
  
  .topnav {
    margin-top: 7%;
    overflow: hidden;
    background-color: #367297;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #eeecec;
    color: black;
  }
  
.topnav a.active {
    background-color: #134360;
    color: white;
  }


/*search bar*/
.search {
    width: 14vw;
    height: 4vh;
    margin-left: 82%;
    margin-top: -1.5%;
    transform: translateY(-50%);
    transition: 1s;
  }

.search input {
    margin-bottom: 2%;
    border-color: black;
    background-color:#eeecec;
    border: 2px solid ;
    border-radius: 10px;
    padding-left: 12%;
    width: 100%;
    height: 100%;
    font-size: 1vw;
    transition: 1s;
    color: black;
  }
.search input::placeholder {
    
    font-size: .9vw;
  }

.search input::-ms-input-placeholder {
    color: grey;
  }

.search img {
    width: .9vw;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
  }

.search input[type=submit] {
    visibility: hidden;
  }

  /* login div */

#UserLogin {
    border: 2px solid ;
    border-radius: 10px;
    width: 28%;
    height: 72vh;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    left: 42%;
    border-color: #134360;
    margin-bottom: 1%;
    
}
#UserLogin h1 {
    position: absolute;
    font-size: 2.5vw;
    transition: 1s;
    top: -2vh;
}
.email, .password {
    position: absolute;
    transition: 1s;
    border: 1px solid ;
    outline: none;
    width: 75%;
    height: 7vh;
    border-radius: 10px;
    font-size: 1.4vw; 
    left: 50%;
    transform: translate(-50%);
    padding-left: 2%;
}
.email {
    margin-top: 20%;
}
.password {
    margin-top: 35%;
}
.email::placeholder, .password::placeholder {
    font-size: 1.2vw;
}
.rememberAndForgot {
    position: absolute;
    width: 75%;
    height: 3vh;
    margin-top: 28vh;
    left: 50%;
    transform: translate(-50%);
}
#remeberMeCheck{

    transition: 1s;
    border: 1px solid ;
    outline: none;
    width: 2vw;
    height: 2vh;
    top: 40%;
    transform: translateY(-50%);
}
.rememberAndForgot input[type=checkbox] {
    position: relative;
    width: 100%;
}
.rememberLabel {
    transition: 1s;
    font-size: 1vw;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.rememberAndForgot button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    position: relative;
    transition: 1s;
    font-size: 1vw;
    left: 12%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: none;
}
.rememberAndForgot button:hover {
    font-weight: bold;
    transition: none;
}

/* captcha */

.captcha {
    position: absolute;
    border: 2px solid black;
    width: 12vw;
    height: 7vh;
    margin-top: 59%;
    border-radius: .5vw;
    display: flex;
    transition: 1s;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
  }
  #captchaCheckbox {
    position: absolute;
    width: 2vw;
    height: 2vh;
    border: 1px solid black;
  }
  #captchaCheckbox:hover, .captcha label:hover {
    cursor: pointer;
  }
  .captcha label {
    font-size: 1vw;
    margin-left: 16%;
    transition: 1s;
  }
  .captcha img {
    width: 19%;
    position: absolute;
    right: 5%;
  }

/* login buttons */

#login1{
    background-color: gray;
    position: absolute;
    transition: 1s;
    margin-top: 75%;
    width: 5vw;
    height: 5vh;
    border-style: none;
    border-radius: 17px;
    font-size: 1.2vw;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
}
#login1:hover {
    transition: 0.5s;
    filter: drop-shadow(0px 0px 3px var);
}
#facebookLogin{
    position: absolute;
    width: 35%;
    height: 5vh;
    right: 51%;
    top: 70%;
}
#googleLogin{
    position: absolute;
    width: 35%;
    height: 5vh;
    left: 51%;
    top: 70%;
}
#facebookLogin:hover, #googleLogin:hover {
    transition: 0.5s;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 3px var);
}

/* register */

.account{
    position: absolute;
    font-size: 1vw;
    left: 20%;
    margin-top: 100%; 
}
#register{
    color: black;
    position: absolute;
    transition: none;
    margin-top: 100%;
    left: 65%;
    font-size: 1vw;
    cursor: pointer;
}
#register:hover {
    font-weight: bold;
    transition: none;
}

/* terms and conditions/ privacy policy */
.tAndP button{
    border-radius: 17px;
    margin-left: 19.5%;
    background-color: gray;
    border-color: gray;
    width: 7vw;
    height: 5vh;
    border-style: none;
    font-size: 1vw;
}
.tAndP button:hover {
    transition: 0.5s;
    filter: drop-shadow(0px 0px 3px var);
    transform: scale(1.05);
}
.tAndP {
    position: absolute;
    margin-top: 108%;
    width: 70%;
    left: 24%;
}
.terms, .pPolicy, .tAndP p {
    text-decoration: none;
    font-size: .9vw;
    color: black;
}
.terms:hover, .pPolicy:hover {
    font-weight: bold;
}

#loginImg{
    margin-top: -28%;
    height: 60vh;
    width: 37%;
    right: -1;
}


   /* footer */

   footer {
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 5px 5px 0px 5px;
    left: 0px;
    right: 0px;
    bottom: -10px;
    margin-top: -1.9vh;
    overflow: hidden;
    width: 100%;
    background-color: #367297;
    height: 30vh;
  }
  .footerTable td {
    font-size: 105%;
    font-size: 1vw;
    margin-top: 5vh;
    color: rgb(197, 193, 193);
  }
  .footerTable tr td {
    text-align: center;
    margin-top: 4vh;
  }
  .footerTable td:first-child {
    width: 1%;
    white-space: nowrap;
  }
  .socials {
    position: absolute;
    margin-top: -2.1%;
    margin-left: 4%;
  }
  .fb {
    margin-top: 10%;
    width: 70%;
    border-radius: 5px;
  }
  .insta {
    margin-top: 10%;
    width: 70%;
  }
  .yt {
    margin-top: 10%;
    width: 80%;
  }
  .tiktok {
    margin-top: 10%;
    width: 70%;
    border-radius: 5px;
  }
  .footerTableHover img:hover {
    transform: scale(110%);
    filter: drop-shadow(0px 0px 1px #000);
  }
  .address {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .address h2 {
    margin-top: 25%;
    font-size: 1.5vw;
    color:whitesmoke;
  }
  .address p {
    font-size: 1vw;
    color: rgb(197, 193, 193);
  }
  .hyperLinks {
    position: absolute;
    font-size: .8vw;
    top: 90%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
  .hyperLinks p a {
    text-decoration: none;
    color: rgb(197, 193, 193);
  }
  .hyperLinks p a:hover {
    color:black;
  }
  .hyperLinks .currentFooter {
    font-weight: bold;
  }
  .hyperLinks .currentFooter:hover {
    cursor: default;
  }
  .bottomLogo {
    padding: 5px;
    position: absolute;
    right: 0;
    width: 15vw;
    height: fit-content;
    top: 50%;
    transform: translate(0, -45%);
  }
  .bottomLogo img {
    position: relative;
    width: 40%;
    margin-top: 35%;
    left: 35%;
  }
  .bottomLogo p {
    position: relative;
    font-size: .7vw;
    text-align: center;
    margin-top: -2%;
    color: rgb(197, 193, 193);
    left: 5%;
  }

 


